services:
  traefik:
    image: traefik:v3.0
    command:
      - --api.dashboard=true
      - --providers.docker=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.le.acme.httpchallenge=true
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.le.acme.email=${LETSENCRYPT_EMAIL}
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt

  flask:
    build:
      context: .
      dockerfile: Dockerfile.flask
    environment:
      NEO4J_URI: ${NEO4J_URI}
      NEO4J_USER: ${NEO4J_USER}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}
    labels:
      - "traefik.enable=true"
      # studyninja.ru
      - "traefik.http.routers.flask-stud.rule=Host(`${KB_DOMAIN}`)"
      - "traefik.http.routers.flask-stud.entrypoints=web"
      - "traefik.http.routers.flask-stud-sec.rule=Host(`${KB_DOMAIN}`)"
      - "traefik.http.routers.flask-stud-sec.entrypoints=websecure"
      - "traefik.http.routers.flask-stud-sec.tls=true"
      - "traefik.http.routers.flask-stud-sec.tls.certresolver=le"
      # xteam.pro
      - "traefik.http.routers.flask-xteam.rule=Host(`${KB_ALT_DOMAIN}`)"
      - "traefik.http.routers.flask-xteam.entrypoints=web"
      - "traefik.http.routers.flask-xteam-sec.rule=Host(`${KB_ALT_DOMAIN}`)"
      - "traefik.http.routers.flask-xteam-sec.entrypoints=websecure"
      - "traefik.http.routers.flask-xteam-sec.tls=true"
      - "traefik.http.routers.flask-xteam-sec.tls.certresolver=le"

  fastapi:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    environment:
      NEO4J_URI: ${NEO4J_URI}
      NEO4J_USER: ${NEO4J_USER}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}
    labels:
      - "traefik.enable=true"
      # studyninja.ru
      - "traefik.http.routers.fastapi-stud.rule=Host(`api.${KB_DOMAIN}`)"
      - "traefik.http.routers.fastapi-stud.entrypoints=web"
      - "traefik.http.routers.fastapi-stud-sec.rule=Host(`api.${KB_DOMAIN}`)"
      - "traefik.http.routers.fastapi-stud-sec.entrypoints=websecure"
      - "traefik.http.routers.fastapi-stud-sec.tls=true"
      - "traefik.http.routers.fastapi-stud-sec.tls.certresolver=le"
      # xteam.pro
      - "traefik.http.routers.fastapi-xteam.rule=Host(`api.${KB_ALT_DOMAIN}`)"
      - "traefik.http.routers.fastapi-xteam.entrypoints=web"
      - "traefik.http.routers.fastapi-xteam-sec.rule=Host(`api.${KB_ALT_DOMAIN}`)"
      - "traefik.http.routers.fastapi-xteam-sec.entrypoints=websecure"
      - "traefik.http.routers.fastapi-xteam-sec.tls=true"
      - "traefik.http.routers.fastapi-xteam-sec.tls.certresolver=le"
