api:
  dashboard: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: "https"
  websecure:
    address: ":443"
  bolt:
    address: ":7687"

certificatesResolvers:
  le:
    acme:
      email: "admin@studyninja.ru"
      storage: "/acme/acme.json"
      httpChallenge:
        entryPoint: web
